# NOTE: When updating this file, regenerate the tox environment with:
#           tox --recreate <args...>

-r requirements.txt

flake8==3.2.0
pep8-naming==0.4.1
readme-renderer==0.7.0
tox==2.5.0
yapf==0.16.0
